@import 'settings';
@import 'foundation-emails';

@import 'template/template';


//MOT
.mot-header {
	padding-top: 32px;
	padding-bottom: 49px;
	@media only screen and (max-width: 789px) {
		padding-bottom: 16px !important;
	}

	&__logo {
		@media only screen and (max-width: 789px) {
			text-align: center !important;
			display: block !important;
			img {
				display: inline-block !important;
				width: 125px !important;
				height: 55px !important;
			}
		}
	}

	.button {
		@media only screen and (max-width: 789px) {
			margin-left: auto !important;
			margin-right: auto !important;
		}
	}

	&__number {
		background-color: $warning-color;
		border-left: solid #7E8293 16px;
		border-radius: 9px;
		font-size: 32px;
		line-height: 39px;
		padding: 0 5px;
		font-weight: bold;
		font-family: $secondary-font;
		display: inline-block;
		margin-left: 10px;
		color: $global-font-color !important;
		@media (prefers-color-scheme: dark) {
			color: $global-font-color !important;
		}
		@media only screen and (max-width: 789px) {
			margin-bottom: 18px !important;
			display: inline-block;
			margin-top: 18px;
		}
	}

	&__separator {
		height: 1px;
		width: 320px;
		background-color: #7E8293;
		margin-top: 17px;
		margin-bottom: 17px;
		@media only screen and (max-width: 789px) {
			margin-left: auto !important;
			margin-right: auto !important;
			display: none !important;
		}
	}

	&__title {
		padding-bottom: 5px;
		padding-top: 60px;
		@media only screen and (max-width: 789px) {
			padding-top: 40px !important;
			padding-bottom: 6px !important;
		}
	}

	&__subtitle {
		margin-bottom: 12px;
	}

	&__paragraph {
		margin-bottom: 10px;
		@media only screen and (max-width: 789px) {
			margin-bottom: 23px !important;
		}

		&-bottom {
			font-weight: 600;
			@media only screen and (max-width: 789px) {
				font-size: 13px !important;
				max-width: 324px !important;
				margin-left: auto !important;
				margin-right: auto !important;
			}
		}
	}

	&__img {
		display: inline-block;
		max-width: 350px;
		margin-left: auto;
		margin-right: auto;
		@media only screen and (max-width: 789px) {
			max-width: 200px !important;
		}
	}

	&__check-col {
		padding-bottom: 25px !important;
	}

	&__check-icon {
		width: 55px !important;
		height: 55px !important;
		object-fit: contain;
		display: inline-block;
	}

	.button {
		@media only screen and (max-width: 789px) {
			display: block !important;
			width: 100% !important;
			text-align: center !important;
			* {
				display: block !important;
				text-align: center !important;
			}
		}
	}

	&__check-row {
		@media only screen and (max-width: 789px) {
			max-width: 325px !important;
			margin-left: auto !important;
			margin-right: auto !important;
		}
	}

	&__check-text {
		margin-bottom: 0;
		margin-top: 0;
		padding-right: 10px;
		font-size: 14px;

		@media only screen and (max-width: 789px) {
			font-size: 16px !important;
		}

		&--middle {
			@media only screen and (min-width: 790px) {
				max-width: 146px;
			}
		}
	}

	&__main-text {
		@media only screen and (max-width: 789px) {
			text-align: center !important;
			h1,
			h2,
			h3,
			p {
				text-align: center !important;
			}
		}
	}
}

.colored-section-mot {
	padding-top: 72px;
	padding-bottom: 60px;
	@media only screen and (max-width: 789px) {
		padding-top: 46px !important;
		padding-bottom: 53px !important;
	}

	&__upgrade {
		max-width: 410px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
		margin-bottom: 20px;
		font-size: 14px;
		line-height: 18px;
	}

	.button a {
		padding-top: 11px;
		padding-bottom: 11px;
	}
}

.above-footer {
	padding-top: 39px;
	padding-bottom: 39px;
	@media only screen and (max-width: 789px) {
		padding-top: 25px !important;
		padding-bottom: 20px !important;
	}

	p {
		a {
			color: #1E49FF;
		}
	}
}

.white-logo {
	text-align: center;
	display: inline-block;

	img {
		display: inline-block;
		@media only screen and (max-width: 789px) {
			width: 98px !important;
			height: 43px !important;
		}
	}
}

.info-text {
	font-size: 12px;
	line-height: 22px;
}

//MOT end

// Partner
.partner {
	&__title {
		hyphens: none;
		margin-top: 66px;
		@media only screen and (max-width: 789px) {
			margin-top: 38px !important;
			font-size: 28px !important;
		}
	}

	&__paragraph {
		margin-top: 20px;
		margin-bottom: 28px;
		@media only screen and (max-width: 789px) {
			margin-bottom: 36px !important;
		}
	}

	&__separator {
		background-color: #DBDBDB;
		max-width: 749px;
		margin-left: auto;
		margin-right: auto;
		height: 1px;
		margin-top: 46px;
		@media only screen and (max-width: 789px) {
			margin-top: 29px !important;
		}
	}

	&__cars {
		@media only screen and (max-width: 789px) {
			width: 75% !important;
		}
	}

	&__btn {
		margin-top: 15px !important;
		@media only screen and (max-width: 789px) {
			display: block !important;
			width: 100% !important;
			text-align: center !important;
			margin-top: 25px !important;
			* {
				display: block !important;
				text-align: center !important;
			}
		}

		a {
			font-weight: 600 !important;
			padding: 9px 27px;
		}
	}

	&__check-text {
		font-size: 14px;

		strong {
			font-size: 16px;
			display: block;
			padding-bottom: 7px;
		}
	}

	&__small-section {
		border-bottom: 1px solid #DBDBDB;
		padding-top: 48px;
		padding-bottom: 30px;
		@media only screen and (max-width: 789px) {
			padding-top: 40px !important;
			padding-bottom: 20px !important;
		}

		.container {
			width: 659px;
		}
	}

	&__colored-section {
		padding-top: 36px;
		padding-bottom: 12px;
		@media only screen and (max-width: 789px) {
			padding-top: 25px !important;
		}
	}

	&__button {
		a {
			font-weight: 600 !important;
			padding: 11px 31px !important;
			@media only screen and (max-width: 789px) {
				font-weight: bold !important;
			}
		}

		@media only screen and (max-width: 789px) {
			display: block !important;
			width: 100% !important;
			text-align: center !important;
			* {
				display: block !important;
				text-align: center !important;
			}
		}
	}
}

.white-section-partner {
	padding-top: 43px;
	padding-bottom: 38px;
	@media only screen and (max-width: 789px) {
		padding-top: 18px !important;
		padding-bottom: 25px !important;
	}

	&__title {
		max-width: 550px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 15px;
	}
}

// Partner end

//welcome
.welcome {

	&__title {
		font-size: 36px;
		padding-bottom: 20px;
		@media only screen and (max-width: 789px) {
			font-size: 22px !important;
			margin-top: 38px;
		}
	}

	&__paragraph {
		padding-bottom: 35px;
	}

	&__check-text {
		padding-top: 10px;
		font-size: 14px;
		line-height: 18px;
		@media only screen and (max-width: 789px) {
			font-size: 16px !important;
			line-height: 20px !important;
		}
	}

	&__check-icon {
		width: 55px !important;
		height: 55px !important;
		object-fit: contain;
		display: inline-block;
	}

	&__white-section {
		padding-top: 60px;
		padding-bottom: 70px;
		@media only screen and (max-width: 789px) {
			padding-top: 44px !important;
			padding-bottom: 9px !important;
		}

		.container {
			width: 1000px;
		}
	}

	&__spin-title {
		font-family: $secondary-font;
		font-weight: normal;
		margin-bottom: 20px;
		font-size: 26px;
	}

	&__spin-terms {
		font-size: 12px;
		line-height: 15px;
		color: #7E8293;
	}

	&__spin-btn {
		a {
			padding: 11px 44px !important;
			font-weight: 600 !important;
			font-size: 14px !important;
		}

		@media only screen and (max-width: 789px) {
			display: block !important;
			width: 100% !important;
			text-align: center !important;
			* {
				display: block !important;
				text-align: center !important;
			}
		}
	}

	&__colored-section {
		.container {
			width: 521px;
		}

		padding-top: 64px;
		padding-bottom: 64px;
		@media only screen and (max-width: 789px) {
			padding-top: 45px !important;
			padding-bottom: 45px !important;
		}
	}

	&__explore {
		margin-bottom: 20px;
		margin-top: 34px;
	}

	&__ev-paragraph {
		font-size: 14px;
	}

	&__ev {
		@media only screen and (max-width: 789px) {
			width: 273px !important;
		}
	}

	&__speedo-img {
		@media only screen and (max-width: 789px) {
			width: 222px !important;
		}
	}

	&__spin-img {
		@media only screen and (max-width: 789px) {
			display: none !important;
		}
	}

	&__view-btn {
		margin-top: 35px !important;
		@media only screen and (max-width: 789px) {
			margin-top: 22px !important;
			display: block !important;
			width: 100% !important;
			text-align: center !important;
			* {
				display: block !important;
				text-align: center !important;
			}
		}

		a {
			background-color: #7ED321;
			padding: 11px 30px !important;
			font-weight: 600 !important;
			color: #050A19 !important;
			@media only screen and (max-width: 789px) {
				font-weight: 700 !important;
			}
		}
	}
}

//welcome end

//newsletter
.newsletter {

	&__title {
		font-size: 22px;
		line-height: 29px;
		margin-bottom: 19px;
		font-weight: normal;
		font-family: $secondary-font;
		@media only screen and (max-width: 789px) {
			margin-top: 37px !important;
			margin-bottom: 19px !important;
		}
	}

	&__main-text {
		max-width: 370px;
		@media only screen and (max-width: 789px) {
			max-width: none !important;
		}
	}

	&__subtitle {
		font-size: 16px;
		font-weight: 600;
		line-height: 20px;
		margin-bottom: 28px;
		@media only screen and (max-width: 789px) {
			margin-bottom: 40px !important;
		}
	}

	&__card-title {
		min-height: 40px;
		margin-bottom: 9px;
		font-size: 16px;
		line-height: 20px;
		font-weight: bold;
	}

	&__colored-section {
		padding-top: 44px;
		padding-bottom: 40px;
		@media only screen and (max-width: 789px) {
			padding-top: 21px !important;
			padding-bottom: 0 !important;
		}

		td.columns, td.column, th.columns, th.column {
			padding-bottom: 0;
		}

		.button {
			@media only screen and (max-width: 789px) {
				margin-left: auto !important;
				margin-right: auto !important;
			}
		}
	}

	&__white-section {
		padding-top: 30px;
		padding-bottom: 30px;

		td.columns, td.column, th.columns, th.column {
			padding-bottom: 0;
		}

		@media only screen and (max-width: 789px) {
			display: none !important;
			width: 0 !important;
			mso-hide: all !important;
			overflow: hidden !important;
		}

		.button {
			@media only screen and (max-width: 789px) {
				margin-left: auto !important;
				margin-right: auto !important;
			}
		}
	}

	&__card-section {
		padding-top: 22px;
		padding-bottom: 18px;

		td.columns, td.column, th.columns, th.column {
			padding-bottom: 0;
		}
	}

	&__image-section {
		padding-bottom: 52px;
		padding-top: 0;

		td.columns, td.column, th.columns, th.column {
			padding-bottom: 0;
		}

		h4 {
			font-weight: bold;
			font-size: 16px;
			line-height: 20px;
		}

		p {
			font-size: 12px;
			font-weight: 300;
			line-height: 15px;
			max-width: 600px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&__image-wrap {
		margin-bottom: 19px;
	}

	&__btn {
		@media only screen and (max-width: 789px) {
			margin-top: 22px !important;
			display: block !important;
			width: 100% !important;
			text-align: center !important;
			* {
				display: block !important;
				text-align: center !important;
			}
		}

		a {
			font-weight: normal !important;
		}
	}

	&__title-sm {
		font-size: 16px;
		font-weight: bold;
		line-height: 20px;
		@media only screen and (max-width: 789px) {
			text-align: center !important;
			margin-top: 26px !important;
		}
	}

	&__paragraph {
		font-size: 12px;
		font-weight: 300;
		margin-bottom: 23px;
		@media only screen and (max-width: 789px) {
			text-align: center !important;
		}
	}

	&__card-paragraph {
		min-height: 45px;
		margin-bottom: 19px;
		font-size: 12px;
		font-weight: 300;

		@media only screen and (max-width: 789px) {
			min-height: auto !important;
			text-align: center !important;
		}
	}

	&__small-container {
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
	}

	&__colored-card {
		td.large-6.first, th.large-6.first {
			padding: 0;
		}

		table.container {
			@media only screen and (max-width: 789px) {
				width: 100% !important;

				.columns {
					padding-left: 0 !important;
					padding-right: 0 !important;
				}
			}
		}
	}

	&__white-card {
		padding-bottom: 38px;
		@media only screen and (max-width: 789px) {
			padding-bottom: 20px !important;
		}

		td.large-6.last, th.large-6.last {
			padding: 0;
		}

		table.container {
			@media only screen and (max-width: 789px) {
				width: 100% !important;
				.columns {
					padding-left: 0 !important;
					padding-right: 0 !important;
				}
			}
		}
	}

	&__card-text {
		max-width: 255px;
		margin-left: auto;
		margin-right: auto;

		@media only screen and (max-width: 789px) {
			max-width: 400px !important;
			padding-left: 8px !important;
			padding-right: 8px !important;
		}

		h5 {
			font-weight: bold;
			font-size: 16px;
			line-height: 20px;
			margin-bottom: 17px;
			@media only screen and (max-width: 789px) {
				text-align: center !important;
			}
		}
	}

	&__bg-section {
		background-color: #050A19 !important;

		h3 {
			font-size: 22px;
			line-height: 24px;
			margin-bottom: 23px;
			color: white;
			@media only screen and (max-width: 789px) {
				text-align: center !important;
			}
		}

		.container {
			background-color: #050A19 !important;
		}
	}

	&__benefits {
		padding-top: 63px;
		padding-bottom: 20px;
		border-bottom: 1px solid #DBDBDB;

		* {
			text-align: center;
		}

		@media only screen and (max-width: 789px) {
			padding-bottom: 0 !important;
			padding-top: 33px !important;
		}

		h6 {
			margin-bottom: 22px;
			font-size: 12px;
			font-weight: bold;
			@media only screen and (max-width: 789px) {
				margin-bottom: 35px !important;
			}
		}

		p {
			margin-top: 11px;
			margin-bottom: 20px;
			font-size: 12px;
			font-weight: 600;
		}

		img {
			width: 35px !important;
			height: 35px !important;
		}
	}
}

//newsletter end