// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!
:root {
	color-scheme: light dark;
	supported-color-schemes: light dark;
}

// Body Styles
body,
html,
.body {
	background: $light-blue !important;
}

th.small-4 {
	@media only screen and (max-width: 789px) {
		display: inline-block !important;
		width: 33% !important;
	}
}

.container.header {
	background: #f3f3f3;
}

.body-drip {
	border-top: 8px solid #663399;
}

// Full Width Headers
.header {
	background: #050A19;
	padding: 32px 0 53px;

	h1,
	h2 {
		font-weight: 500;
	}

	h1,
	h2,
	h3,
	h4,
	p {
		color: white;
	}

	.columns {
		padding-bottom: 0;
	}

	.wrapper-inner {
		padding: 20px;
	}

	.container {
		background: transparent;
	}

	h1,
	h2,
	h3 {
		font-family: $secondary-font;
	}
}


// Social Media
table.button.facebook table td {
	background: #3B5998 !important;
	border-color: #3B5998;
}

table.button.twitter table td {
	background: #1daced !important;
	border-color: #1daced;
}

table.button.google table td {
	background: #DB4A39 !important;
	border-color: #DB4A39;
}

.wrapper.secondary {
	background: #f3f3f3;
}

.colored-section {
	background-color: $light-blue !important;

	.container {
		background-color: $light-blue !important;
	}

	* {
		color: #050A19;
	}
}

.white-section {
	background-color: #fff !important;

	.container {
		background-color: #fff !important;
	}

	* {
		color: #050A19;
	}
}

.small-paragraph {
	font-size: 12px;
	line-height: 15px;
}

.fw-700 {
	font-weight: 700;
}

.fw-600 {
	font-weight: 600;
}

.fw-500 {
	font-weight: 500;
}

.fw-300 {
	font-weight: 300;
}

.text-center {
	text-align: center;
}

.button.success a {
	color: #050A19;
	font-size: 14px;
	font-weight: 600;
}

.menu .menu-item {
	font-size: 10px;
	font-weight: 600;

	@media only screen and (max-width: 789px) {
		display: block !important;
		width: 100% !important;
	}
}

.footer {
	padding-top: 15px;
	padding-bottom: 15px;
	@media only screen and (max-width: 789px) {
		padding-top: 25px !important;
		padding-bottom: 25px !important;
	}

	.menu .menu-item {
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 10px !important;
		position: relative;

		&:not(:last-child) {
			&:before {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				height: 13px;
				width: 1px;
				background-color: #1E49FF;
			}
		}

		@media only screen and (max-width: 789px) {
			&:before {
				content: none !important;
			}
		}
	}
}